/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
}

.logo {
  color: #171100;
  font-family: "Sen";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
}
.logo strong {
  color: #ffb900;
  font-family: "Sen";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
}

.title {
  color: #171100;
  font-family: "Sen";
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.02em;
}

.paragraph {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.btn {
  display: inline-block;
  border-radius: 25px;
  background: #171100;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.85;
  transition: 300ms;
}
.btn:hover {
  background: #ffb900;
}

.pagination {
  display: flex;
  gap: 6px;
  margin-top: 28px;
}
.pagination__btn {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #634700;
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms;
}
.pagination__btn:hover {
  background: #ffb900;
}

.header {
  padding-top: 36px;
  padding-bottom: 65px;
  background: #fffcf4;
}
.header .content {
  display: flex;
  margin-top: 64px;
}
.header__media {
  position: relative;
}
.header__thumb {
  width: 100%;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.header__title {
  font-size: 5.8rem;
  line-height: 1.17;
  margin-top: 64px;
  margin-bottom: 22px;
}
.header__act {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 38px;
  margin-bottom: 48px;
}
.header__btn {
  padding: 17px 34px;
  border-radius: 32px;
  font-size: 1.8rem;
  line-height: 1.67;
}
.header__link {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  translate: -54px 0;
  transition: 400ms;
}
.header__link .play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.0705882353);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  translate: 54px 0;
  transition: 400ms;
}
.header__link:hover {
  translate: 0 0;
}
.header__link:hover .play-icon {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}
.header__stats {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 8px;
}
.header .stat__item {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}
.header .stat__item strong {
  color: #171100;
  font-family: "Sen";
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.2;
}
.header__card {
  width: 270px;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 393px;
  left: 300px;
}
.header .card__row {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .card__row:not(:first-child) {
  margin-top: 22px;
}
.header .card__col {
  display: flex;
  flex-direction: column;
}
.header .card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: var(--bg-color);
  border-radius: 50%;
}
.header .card__desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}
.header .card__heading {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 42px;
  margin-left: 512px;
}
.navbar__link {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
  position: relative;
  transition: 300ms;
}
.navbar__link:hover {
  color: #171100;
}
.navbar__link::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  right: 76%;
  bottom: -3px;
  transition: 300ms;
}
.navbar__link:hover::after {
  width: 24%;
  left: 0;
}
.navbar__btn {
  padding: 11px 41.5px;
  border-radius: 24.5px;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-left: auto;
}

.course {
  padding-top: 200px;
  padding-bottom: 200px;
}
.course__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course__desc {
  width: 458px;
  margin-top: 16px;
}
.course__btn-group {
  display: flex;
  align-items: center;
  gap: 18px;
}
.course__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ffb900;
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms;
}
.course__btn .arrow-icon {
  filter: brightness(0) saturate(100%) invert(71%) sepia(33%) saturate(1547%) hue-rotate(358deg) brightness(101%) contrast(107%);
  transition: 300ms;
}
.course__btn:hover {
  background: #ffb900;
}
.course__btn:hover .arrow-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(190deg) brightness(101%) contrast(99%);
}
.course .list__course {
  margin-top: 55px;
}
.course__item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  transition: 400ms;
}
.course__item:hover {
  border-color: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.course .item__thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.course .item__info {
  padding: 16px 22px 22px 22px;
}
.course .item__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course .item__title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.course .item__score {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.course .item__desc {
  font-size: 1.4rem;
  line-height: 1.85;
}
.course .item__act {
  margin-top: 12px;
}
.course .item__price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.course .item__btn {
  padding: 12.5px 25px;
}

.testimonial {
  padding-top: 96px;
  padding-bottom: 96px;
  background: #2e2100;
}
.testimonial__media {
  display: flex;
  flex-direction: column;
}
.testimonial__avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonial__name {
  margin-top: 18px;
  margin-bottom: 4px;
  color: #f7f7f7;
  font-family: "Sen";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
}
.testimonial__job {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}
.testimonial__desc {
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
}

.feature {
  padding-top: 200px;
  padding-bottom: 200px;
}
.feature__thumb {
  width: 100%;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}
.feature__thumb--lower {
  margin-top: 34px;
}
.feature__title {
  margin-top: 58px;
  margin-bottom: 16px;
}
.feature__desc {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-bottom: 16px;
}
.feature__desc + .feature__desc {
  margin-bottom: 32px;
}
.feature__btn {
  padding: 11px 38px;
  border-radius: 26px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.cta {
  padding-bottom: 200px;
}
.cta__title {
  margin-top: 71px;
}
.cta__thumb {
  width: 100%;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}
.cta__desc {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 16px;
  margin-bottom: 32px;
}
.cta__btn {
  padding: 11px 32px;
  border-radius: 26px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blog {
  background: #fffcf4;
  padding-top: 96px;
  padding-bottom: 96px;
}
.blog__title {
  text-align: center;
  margin-bottom: 16px;
}
.blog__desc {
  width: 448px;
  margin: 0 auto;
  text-align: center;
}
.blog__list {
  margin-top: 55px;
}
.blog__item {
  border-radius: 16px;
  background: #fff;
  transition: 300ms;
}
.blog__item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog__thumb {
  width: 100%;
  height: 250px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.blog__info {
  padding: 20px 20px 28px 20px;
}
.blog__time {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  margin-left: 10px;
  position: relative;
}
.blog__time::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ffb900;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -10px;
  translate: 0 -50%;
}
.blog .separate {
  margin-top: 12px;
  width: 100%;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}
.blog__item .blog__desc {
  margin-top: 12px;
  margin-bottom: 12px;
  width: unset;
  text-align: left;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.blog__btn {
  padding: 12.5px 21.5px;
}
.blog .pagination {
  justify-content: center;
  margin-top: 38px;
}

.footer {
  background: #2e2100;
  padding-top: 96px;
  padding-bottom: 28px;
}
.footer .separate {
  margin-top: 38px;
  margin-bottom: 28px;
  width: 100%;
  height: 1px;
  background: #59554b;
}
.footer__list {
  display: flex;
  gap: 130px;
}
.footer__list .separate {
  margin-top: 14px;
  margin-bottom: 28px;
  width: 130px;
  height: 1px;
  background: #59554b;
}
.footer .logo {
  color: #fff;
}
.footer__desc {
  margin-top: 18px;
  margin-bottom: 18px;
  width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}
.footer__social {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}
.footer .social__link {
  display: flex;
  align-items: flex-end;
}
.footer__title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.footer__item + .footer__item {
  margin-top: 12px;
}
.footer__link {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  white-space: nowrap;
}
.footer__info {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}
.footer__info strong {
  color: #fff;
  font-weight: 600;
}
.footer .copyright {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

/*# sourceMappingURL=main.css.map */
